


@{
  
    ViewData["Title"] = "Home Page";
}

   <p><a asp-action="QTAindex" asp-controller="Home">redirect to QTA</a></p>
   <p><a asp-action="QTIindex" asp-controller="Home">redirect to QTI</a></p>
   <p><a asp-action="ATIindex" asp-controller="Home">redirect to ATI</a></p>
   <p><a asp-action="ITAindex" asp-controller="Home">redirect to ITA</a></p>
   <p><a asp-action="QuestionIndex" asp-controller="Home">redirect to Questions</a></p>
   <p><a asp-action="AnswerIndex" asp-controller="Home">redirect to Answers</a></p>

