


@{
  
    ViewData["Title"] = "Home Page";
}

   <p><a asp-action="QTAindex" asp-controller="Home">redirect to QTA</a></p>
   <p><a asp-action="QTIindex" asp-controller="Home">redirect to QTI</a></p>
<p><a asp-action="QuestionIndex" asp-controller="Home">redirect to Questions</a></p>