body {
}
.ImageClass {
    display: flex;
    flex-direction: column;
}
.select-nav {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.formClass{

    display:flex;
    width:100%;


}
.leftSide{
    width:30%;
}
.rightSide{
    width:70%;
}
.imageGroup {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
